<ion-view view-title="Juego de Memoria">
	<ion-content class="game-body">
		<div class="row">
			<div class="col col-title">
				<h1 class="text-center">Juego de memoria sobre las Proteínas</h1>
			</div>
		</div>
		<div class="row">
			<div class="col text-center col-game">
				<div id="score-panel">
					<ul class="stars">
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
					</ul>
					<span class="moves">0</span> Moves
					<div class="restart">
						<i class="fa fa-repeat"></i>
					</div>
				</div>
				<ul class="deck"></ul>
			</div>
		</div>
	</ion-content>
</ion-view>