<ion-view view-title="Tabla nutricional">
	<ion-content>
		<div class="row">
			<div class="col col-50">
				<div class="list">
					<div class="item item-divider">
						INF.NUTRICIONAL
					</div>
					<a href="" class="item">
						Valor energetico
					</a>
					<a href="" class="item">
						Carbohidratos
					</a>
					<a href="" class="item">
						Proteinas
					</a>
					<a href="" class="item">
						Grasas totales
					</a>
					<a href="" class="item">
						Grasas saturadas
					</a>
					<a href="" class="item">
						Grasas Trans
					</a>
					<a href="" class="item">
						Grasas monoinsaturadas
					</a>
					<a href="" class="item">
						Grasas Poliinsaturadas
					</a>
					<a href="" class="item">
						Colesterol
					</a>
					<a href="" class="item">
						Sodio
					</a>
					<a href="" class="item">
						Vitamina A
					</a>
					<a href="" class="item">
						Vitamina D
					</a>
					<a href="" class="item">
						Vitamina E 
					</a>
					<a href="" class="item">
						Vitamina B2
					</a>
					<a href="" class="item">
						Acido folico
					</a>
					<a href="" class="item">
						Vitamina B12
					</a>
					<a href="" class="item">
						Calcio
					</a>
					<a href="" class="item">
						Fosforo
					</a>
				</div>
			</div>
			<div class="col col-25">
				<div class="list">
					<div class="item item-divider">
						SER
						Calci + Uva-Pera
					</div>
					<a href="" class="item">
						59Kcal = 248kJ
					</a>
					<a href="" class="item">
						10g
					</a>
					<a href="" class="item">
						4,7g
					</a>
					<a href="" class="item">
						0g
					</a>
					<a href="" class="item">
						0g
					</a>
					<a href="" class="item">
						0g
					</a>
					<a href="" class="item">
						0g
					</a>
					<a href="" class="item">
						0g
					</a>
					<a href="" class="item">
						0g
					</a>
					<a href="" class="item">
						76mg
					</a>
					<a href="" class="item">
						127mcg
					</a>
					<a href="" class="item">
						1mcg
					</a>
					<a href="" class="item">
						2mg
					</a>
					<a href="" class="item">
						0,22mg
					</a>
					<a href="" class="item">
						48 mcg
					</a>
					<a href="" class="item">
						0,49mcg
					</a>
					<a href="" class="item">
						521mg
					</a>
					<a href="" class="item">
						126mg
					</a>
					
				</div>
			</div>
			<div class="col col-25">
				<div class="list">
					<div class="item item-divider">
						%VD (1)
					</div>
					<a href="" class="item">
						3
					</a>
					<a href="" class="item">
						3
					</a>
					<a href="" class="item">
						6
					</a>
					<a href="" class="item">
						0
					</a>
					<a href="" class="item">
						0
					</a>
					<a href="" class="item">
						---
					</a>
					<a href="" class="item">
						---
					</a>
					<a href="" class="item">
						---
					</a>
					<a href="" class="item">
						---
					</a>
					<a href="" class="item">
						3
					</a>
					<a href="" class="item">
						21
					</a>
					<a href="" class="item">
						20
					</a>
					<a href="" class="item">
						20
					</a>
					<a href="" class="item">
						17
					</a>
					<a href="" class="item">
						20
					</a>
					<a href="" class="item">
						20
					</a>
					<a href="" class="item">
						52
					</a>
					<a href="" class="item">
						18
					</a>
					
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>