<ion-view view-title="Video">
	<ion-content>
		<div class="row">
			<div class="col">
				<h1 class="text-center">Importancia del Agua</h1>	
				<div class="video-container">
					<!-- <iframe src="https://youtu.be/2G7Joav8v4Q" frameborder="0" allowfullscreen></iframe>  -->
					<video controls>
						<source src="../img/importancia-del-agua.mp4" type="video/mp4">
					</video>
				</div> 
				<p class="text-center pdg">El agua es el elemento más importante para la vida. Es de una importancia vital para el ser humano, así como para el resto de animales y seres vivos que nos acompañan en el planeta Tierra. Resulta curioso que el 70 por ciento de la Tierra sea agua y que el 70 por ciento de nuestro cuerpo también sea agua.</p>
			</div> 
		</div>
	</ion-content>
</ion-view>