<ion-view view-title="Video">
	<ion-content>
		<div class="row">
			<div class="col">
				<h1 class="text-center">Importancia del Agua</h1>	
				<div class="video-container">
					<!-- <iframe src="https://youtu.be/2G7Joav8v4Q" frameborder="0" allowfullscreen></iframe>  -->
					<iframe src="https://www.youtube.com/embed/bzZhxgICqjE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div> 
				<p class="text-center pdg">El agua es el elemento más importante para la vida. Es de una importancia vital para el ser humano, así como para el resto de animales y seres vivos que nos acompañan en el planeta Tierra. Resulta curioso que el 70 por ciento de la Tierra sea agua y que el 70 por ciento de nuestro cuerpo también sea agua.</p>
			</div> 
		</div>
		<div class="row">
			<div class="col">
				<h1 class="text-center">La gestación Humana</h1>
				<div class="video-container">
					<iframe src="https://www.youtube.com/embed/kFOOf1yB_jM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<p class="text-center pdg">El término gestación, también conocido como embarazo, se usa en zoología cuando un animal vivíparo del sexo femenino lleva y sustenta a una cría embrionaria o fetal dentro de su vientre hasta el momento del nacimiento.</p>
			</div>
		</div>
	</ion-content>
</ion-view>